@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>@ViewBag.Title - DevGenius Finance</title>
    <link href="~/imgs/navicon.png" rel="icon" type="image/png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    @Styles.Render("~/bundles/estilos-default")
    <link href="~/Content/open-iconic/open-iconic-bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <ul>
                <li>Teste</li>
            </ul>
        </nav>
        <div id="content">
            @Html.Partial("_MenuSuperior")
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<footer class="footer container-fluid">
            <div class="row">
                <div class="col-12">
                    <hr />
                    <p>&copy; @DateTime.Now.Year - DevGenius</p>
                </div>
            </div>
        </footer>*@

    <script src="~/Scripts/jquery/jquery-3.0.0.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap/bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/_layout/main.js" type="text/javascript"></script>
</body>
</html>